
:root
	{
	font-family: sans-serif;
	font-size: 16px;
	}

body
	{
	margin: 0;
	}

header
	{
	padding-top: 3px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	/*position: relative;*/
	top: 0;
	position: sticky;
	}

header h1
	{
	line-height: 1;
	margin: 0;
	padding: 1rem;
	}
