

{{ stop.id }}<br/>

{{ stop.coordinate.latitude }}, {{ stop.coordinate.longitude }}<br/>


<!--
<svg id="pluar" width="100px" height="600px" viewBox="0 0 100 600">
	<rect x="47" y="0" width="6" height="300" fill="gray"/>
	<rect x="47" y="300" width="6" height="300" fill="gray"/>
	<circle cx="50" cy="300" r="10" fill="black"/>
</svg>
-->