

<ul class="stops">
{% for stop in stops %}
	<li id="stop-{{ stop.id }}" class="stop">
		<b>{{ stop.name }}</b>
		<span id="stop-{{ stop.id }}-distance">aa {{ stop.distance }}</span>
	</li>
{% endfor %}
</ul>


<!--
<ul class="stops">
{% for feature in features %}
	<li>
		<b>{{ feature.properties.name }}</b> ({{ feature.geometry.coordinates[0] }}, {{ feature.geometry.coordinates[1] }})
	</li>
{% endfor %}
</ul>
-->
