
header
	{
	display: flex;
	}

#hamburger
	{
	width: 24px;
	height: 24px;
	vertical-align: bottom;
	/*float: left;*/
	}

aside
	{
	background-color: #F3F3F3;
	padding: 1rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: translate(-100vw);
	transition-property: transform;
	transition-duration: .3s;
	}

aside.open
	{
	transform: translate(-10vw);
	box-shadow: 0 0 2rem black;
	}

/*
body
	{
	overflow: hidden;
	}
*/
